html, body {
    height: 100%;
    width: 100%;
    color: #444;
    font: 1em/1 "Hoefler Text", "Georgia", Georgia, serif, sans-serif;
    padding: 10px;
}
#lefttext {
  line-height:1.5em;
}
ol {
    list-style-type: none;
}
li {
    font-size:1.2em;
    color:#FA8806;
}
h1 {font-weight:400;font-size:1.6em;line-height:0.9em;padding:0px 0 0;margin: 1em 0em .25em 0em; color:#FA8806;}
h1 a{font-weight:100;letter-spacing:-0.05em;position:relative;}
h2 {font-weight:50;font-size:1.2em;letter-spacing:-0.05em;position:relative; color:#444;margin: 0;}
h3 {font-weight:50;font-size:1.0em;letter-spacing:-0.03em;position:relative; color:#FA8806;margin: 0;}
rect {
    fill: none;
    pointer-events: all;
}
.node {
    fill: #FA8806;
}
.cursor {
    fill: none;
    stroke: brown;
    pointer-events: none;
}
.link {
    stroke: #999;
}
#graph {
    height: 100%;
    width: 50%;
    float: left;
}
#lesson {
    height: 100%;
    width: 45%;
    float: left;
}
#lefttext {
    margin-top: 20px;
    margin-right: 100px;
    font-style: italic;
    font-size: 1.1em;
    color:#707070;
    height: 0;
    overflow: visible;
    line-height:1.5em;
}
#citations {
    margin-top: 20px;
}
#codetext {
    font: 1em/1 "Courier New", Courier, monospace;
}